.*/
x64/
packages/
sealighter/x64
*.vcxproj.user

# Some testing might create this file:
out.json
run.bat
config.json
test_sealighter_provider.man

.cursorrules
.mcp.json
.windsurfrules
AGENTS.md
CLAUDE.md
CODEBUDDY.md
GEMINI.md
QODER.md
opencode.jsonc
