[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "winxx"]
	path = winxx
	url = https://github.com/donfucius/winxx.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/microsoft/GSL.git
[submodule "krabsetw"]
	path = krabsetw
	url = https://github.com/microsoft/krabsetw.git
